<h2 mat-dialog-title>{{dialogTitle}}</h2>

<form class="endereco-form" [formGroup]="enderecoForm" (submit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <mat-form-field appearance="fill" class="input-place">
            <mat-label>Logradouro</mat-label>
            <input matInput formControlName="logradouro"  />
        </mat-form-field> 
    
        <mat-form-field appearance="fill" class="input-place">
            <mat-label>Número</mat-label>
            <input matInput formControlName="numero">
        </mat-form-field>
    
        <mat-form-field  appearance="fill" class="input-place">
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="bairro" />
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="input-place">
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cep" />
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="input-place">
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="cidade" />
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="input-place">
            <mat-label>Estado</mat-label>
            <input matInput formControlName="estado" />
        </mat-form-field>  

        <mat-form-field appearance="fill" class="input-place">
            <mat-label>Complemento</mat-label>
            <textarea matInput formControlName="complemento"></textarea>
        </mat-form-field>
      
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button>Cancelar</button>
        <button mat-raised-button color="primary" type="submit" >Salvar</button>
    </mat-dialog-actions>    
</form> 
